<!-- before footer -->
<div class="beforefooter">
    <div class="box">
        <div class="logo">SQ Beauty Salon</div>
        <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ipsam sit magni et
            consequatur, tenetur ab doloremque totam necessitatibus inventore optio qui? Inventore vel quibusdam
            exercitationem, nulla asperiores fugiat totam!</p>

        <div class="bf-text">Subscribe For Offers</div>
        <div class="subscribe">
            <input type="text" name="" id="">
            <button class="btn">subscribe</button>
        </div>
    </div>
    <div class="box">
        <div class="bf-text">Quick Links</div>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Pages/about.html">About</a></li>
            <li><a href="./Pages/services.html">Services</a></li>
            <li><a href="./Pages/portfolio.html">Portfolio</a></li>
            <li><a href="./Pages/contact.html">Contact</a></li>
        </ul>

        <div class="bf-text">Follow Us</div>
        <div class="icons">
            <a href="#" class="fa-brands fa-facebook-f"></a>
            <a href="#" class="fa-brands fa-google"></a>
            <a href="#" class="fa-brands fa-instagram"></a>
            <a href="#" class="fa-brands fa-youtube"></a>
        </div>
    </div>
    <div class="box">
        <div class="bf-text">Say Hi! </div>
        <ul class="SayHi">
            <li><a href="./index.html">info@example.com</a></li>
            <li><a href="./Pages/contact.html">contact@example.com</a></li>
        </ul>

        <div class="bf-text">Call Us</div>
        <ul class="SayHi">
            <li>Phone :+92 123456789</li>
            <li>Toll Free:+92 123456789</li>
        </ul>

        <div class="bf-text">Find Us</div>
        <div class="address">
            123 street, Karachi
        </div>
    </div>
</div>

<!-- footer section -->
<footer>
    <div class="fbox">Copyright &copy; 2024 SQ Beauty Salon</div>
    <div class="fbox">Powered By SQ Beauty Salon</div>
</footer>
