<header>
    <a href="#" class="logo">SQ Beauty Salon</a>
    <div class="menuToggle"></div>
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./Pages/about.html">About</a></li>
            <li><a href="./Pages/services.html">Services</a></li>
            <li><a href="./Pages/portfolio.html">Portfolio</a></li>
            <li><a href="./Pages/contact.html">Contact</a></li>
            <li><a href="#" id="NavNum">+92 123456789</a></li>
        </ul>
    </nav>
</header>
